{% extends 'base.html.twig' %}
{% block title %}パスワード変更　確認{% endblock %}
{% block body %}
    <div class="wallBelt narrow">
        <div class="contents">
            <h1 class="pageTitle">パスワード変更　確認</h1>
            <table class="table">
                <tr>
                    <th>名前</th>
                    <td>{{ account.name }}</td>
                </tr>
                <tr>
                    <th>パスワード</th>
                    <td>{{ secret_pass }}</td>
                </tr>
                <tr>
                    <th>管理者メモ</th>
                    <td>{{ account.memo|nl2br }}</td>
                </tr>
            </table>
            {{ form_start(form_finish) }}
            <div class="buttonBox">
                <ul>
                    <li>{{ form_widget(form_finish.finish, {'attr':{'class':'btn btn-primary'}, 'label': '登録'}) }}</li>
                    <li><a href="{{ path('account_edit', {'id': account.id}) }}">戻る</a></li>
                </ul>
            </div>
            {{ form_end(form_finish) }}
        </div>
    </div>
{% endblock %}

